<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%- include('partials/nav'); %>
    <h1>Contacts</h1>
    <p>Carter Watts: cdwatts2001@gmail.com</p>
  <body>
</html>
