<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('partials/nav'); %>
    <h1>Light #<%= light_num %> </h1>
    <p><strong>LED Status: </strong> <%= data.leds_powered %> </p>
  <body>
</html>
